.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
.idea/

# Android
android/local.properties
android/app/google-services.json
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/Runner/GoogleService-Info.plist

# Firebase
lib/firebase_options.dart.bak
